h1{
    font-family: 'Zhi Mang Xing', cursive;
}

p{
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
